{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron" style="height: 100vh;">
    <div class="container" align="center">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="col-lg-10">{{blog.name}}</h4>
            <h5 class="mb-2" style="color: red;"><u>Ushbu postni o'chirishga isonchiz komilmi???</u></h5>
            <img src="{{blog.img.url}}" alt="rasm" style="max-width: 800px;">
            <div class="media align-items-center justify-content-center shadow-none p-0 mb-0 mt-4">
                <button type="submit" class="btn btn-danger">O'chirish</button>
                <a href="{% url 'detail' blog.slug%}" class="btn btn-info" role="button">Ortga qaytish</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}