{% extends 'blog/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<section class="question-area pt-40px pb-40px">
    <div class="container">
        <div class="filters pb-40px d-flex flex-wrap align-items-center justify-content-between">
            <h3 class="fs-22 fw-medium mr-0">Blogni tahrirlash</h3>
            <ul class="breadcrumb-list">
                <li><a href="#">Home</a><span><svg xmlns="http://www.w3.org/2000/svg" height="19px" viewBox="0 0 24 24" width="19px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"></path></svg></span></li>
                <li>Blogni tahrirlash</li>
            </ul>
        </div>
        <form action="" class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-8">
                <div class="card card-item">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Post nomi</label>
                            {% render_field form.name name="text" class="form-control form--control" placeholder="Blog nomini kiriting" %}
                        </div>
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Slug nomi</label>
                            {% render_field form.slug name="slug" class="form-control form--control" placeholder="Slugni kiriting" %}
                        </div>
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Post Content</label>{{form.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-item">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Category</label>
                                {% render_field form.category_id class="custom-select custom--select" %}
                        </div>
                        <div class="form-group mb-0">
                            <label class="fs-14 text-black fw-medium lh-20">Tags</label>
                            {% render_field form.tag class="input-tags input--tags" type="text" name="tags" placeholder="django, python" %}
                        </div>
                    </div>
                </div>
                <div class="card card-item">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Featured Image</label>
                            <div class="file-upload-wrap file-upload-layout-2">
                                {% render_field form.img type="file" name="files[]" class="file-upload-input" %}
                                <span class="file-upload-text d-flex align-items-center justify-content-center"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-2 ml-4">
                <div class="custom-control custom-checkbox fs-15 mb-4">
                    <input type="checkbox" class="custom-control-input" id="delete-terms">
                    <label class="custom-control-label custom--control-label lh-22" for="delete-terms">Joylashtirish orqali siz Xizmat shartlari va Maxfiylik siyosatiga rozilik bildirgansiz.</label>
                </div>
                <button type="submit" class="btn btn-primary fw-medium" data-toggle="modal" data-target="#deleteModal" id="delete-button" disabled> Postni yangilash</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}