{% extends 'blog/base.html' %}
{% block content %}
<section class="hero-area pattern-bg-2 bg-white shadow-sm overflow-hidden pt-20px pb-20px">
    <span class="stroke-shape stroke-shape-1"></span>
    <span class="stroke-shape stroke-shape-2"></span>
    <span class="stroke-shape stroke-shape-3"></span>
    <span class="stroke-shape stroke-shape-4"></span>
    <span class="stroke-shape stroke-shape-5"></span>
    <span class="stroke-shape stroke-shape-6"></span>
    <div class="container">
        <div class="hero-content text-center">
            <h2 class="section-title pb-3">ANVAR - Xavfsizlik xizmati</h2>
            <ul class="breadcrumb-list">
                <li><a href="#">Uy</a><span><svg xmlns="http://www.w3.org/2000/svg" height="19px" viewBox="0 0 24 24" width="19px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg></span></li>
                <li>Xavfsizlik xizmati</li>
            </ul>
        </div>
    </div>
</section>
<section class="privacy-area pt-60px pb-60px bg-white position-relative mt-2">
    <div class="container">
        <div class="card card-item">
            <div class="card-body row">
                <div class="col-lg-3">
                    <ul class="js-scroll-nav js--scroll-nav">
                        <li class="active"><a href="#information-we-collect-and-how-we-use-it" class="page-scroll">1. Biz to'playdigan ma'lumotlar va undan qanday foydalanamiz</a></li>
                        <li><a href="#contact-forms" class="page-scroll">2. Aloqa shakllari</a></li>
                        <li><a href="#how-we-protect-your-information" class="page-scroll">3. Sizning ma'lumotlaringizni qanday himoya qilamiz</a></li>
                        <li><a href="#your-contact-information" class="page-scroll">4. Sizning aloqa ma'lumotlaringiz</a></li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="terms-panel-main-bar pl-3">
                        <div class="terms-panel mb-30px" id="information-we-collect-and-how-we-use-it">
                            <h3 class="fs-20 pb-3 fw-bold">1. Biz to'playdigan ma'lumotlar va undan qanday foydalanamiz</h3>
                            <h4 class="fs-16 pb-1">A. Hisob ma'lumotlari:</h4>
                            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dicta error eum exercitationem expedita hic maiores necessitatibus possimus quo voluptatum.</p>
                            <h4 class="fs-16 pb-1">B. Ommaviy tarkib:</h4>
                            <p class="pb-3">Ammo har bir tug'ma xato ayblovchilarning zavqi va ularni maqtaganlarning azobi va azobi qayerdan ekanligini tushunishingiz uchun men hamma narsani ochaman.</p>
                            <h4 class="fs-16 pb-1">C. Kontaktlar:</h4>
                            <p class="pb-3">Ammo har bir tug'ma xato ayblovchilarning zavqi va ularni maqtaganlarning azobi va azobi qayerdan ekanligini tushunishingiz uchun men hamma narsani ochaman.</p>
                            <h4 class="fs-16 pb-1">D. Aloqa:</h4>
                            <p class="pb-3">Ammo har bir tug'ma xato ayblovchilarning zavqi va ularni maqtaganlarning azobi va azobi qayerdan ekanligini tushunishingiz uchun men hamma narsani ochaman.</p>
                        </div>
                        <div class="terms-panel mb-30px" id="contact-forms">
                            <h3 class="fs-20 pb-3 fw-bold">2. Aloqa shakllari</h3>
                            <h4 class="fs-16 pb-1">A. Cookie-fayllar</h4>
                            <p class="pb-3">Og'riqning o'zi juda ko'p og'riqdir Ushbu mashqni to'siqsiz qiladigan xato deb atalmish xato bilan tinchlansak, bu erda biz ko'proq zavqlanish ehtiyojlarini qondirishimiz mumkin.</p>
                            <h4 class="fs-16 pb-1">B. Boshqa veb-saytlardan o'rnatilgan kontent</h4>
                            <p class="pb-3">Ammo har bir xato qayerdan tug'ilishini, ayblovchilarning zavqini va maqtovchilarning azobini tushunishingiz uchun men hamma narsani ochaman..</p>
                        </div>
                        <div class="terms-panel mb-30px" id="how-we-protect-your-information">
                            <h3 class="fs-20 pb-3 fw-bold">3. Sizning ma'lumotlaringizni qanday himoya qilamiz</h3>
                            <p class="pb-3">Sizning shaxsiy ma'lumotlaringiz, foydalanuvchi nomi, parol, tranzaksiya ma'lumotlari va Saytimizda saqlangan ma'lumotlarga ruxsatsiz kirish, o'zgartirish, oshkor qilish yoki yo'q qilishdan himoya qilish uchun tegishli ma'lumotlarni yig'ish, saqlash va qayta ishlash amaliyoti va xavfsizlik choralarini ko'ramiz.</p>
                            <p class="pb-3">Sayt va uning foydalanuvchilari o'rtasida maxfiy va shaxsiy ma'lumotlar almashinuvi SSL himoyalangan aloqa kanali orqali amalga oshiriladi va shifrlangan va raqamli imzolar bilan himoyalangan. Bizning saytimiz foydalanuvchilar uchun imkon qadar xavfsiz muhit yaratish maqsadida PCI zaiflik standartlariga ham mos keladi.</p>
                        </div>
                        <div class="terms-panel" id="your-contact-information">
                            <h3 class="fs-20 pb-3 fw-bold">4. Sizning aloqa ma'lumotlaringiz</h3>
                            <p class="pb-3">Agar siz ushbu saytda hisob qaydnomangiz bo'lsa yoki sharh qoldirgan bo'lsangiz, siz haqingizda saqlaydigan shaxsiy ma'lumotlarning eksport qilingan faylini, shu jumladan bizga taqdim etgan har qanday ma'lumotlarni olishni so'rashingiz mumkin. Shuningdek, siz haqingizda saqlanayotgan shaxsiy maʼlumotlarni oʻchirib tashlashimizni soʻrashingiz mumkin. Bu maʼmuriy, yuridik yoki xavfsizlik maqsadlarida saqlashimiz shart boʻlgan har qanday maʼlumotlarni oʻz ichiga olmaydi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}