{% load static %}
<section class="footer-area bg-dark position-relative">
    <div class="container">
        <div class="row align-items-center copyright-wrap">
            <div class="col-lg-6">
                <a href="{% url 'blog' %}" class="d-inline-block">
                    <img src="{% static '../media/blog/Anvar.png' %}" width="200" alt="footer logo" class="footer-logo">
                </a>
            </div>
            <div class="col-lg-6">
                <p class="copyright-desc text-right fs-14">Copyright &copy; 2021 <a href="https://techydevs.com/">TechyDevs</a> Inc.</p>
            </div>
        </div>
    </div>
</section>
<div id="back-to-top" data-toggle="tooltip" data-placement="top" title="Return to top">
    <i class="la la-arrow-up"></i>
</div>